@charset "UTF-8";
@import url(estilo-base.css);

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

main {
    background-color: #283e82;
}

.espaco { /* padding e margin no h1 estava afetando o header */
    height: 55px;
}

.titulo {
    text-align: center;
    font-size: 2.6em;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

.subtitulo {
    text-align: center;
    font-size: 1.4em;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px;
    color: white;
}

.container-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;

    margin-top: 55px;
}

input {
    width: 400px;
    background-color: var(--cor05);
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: rgb(247, 247, 247);

}

input:focus {
    outline: none;
}

.container-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 900px;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--cor05);
    border-radius: 10px;
    border: none;
    color: white;
    resize: none;
}

textarea:focus {
    outline: none;
}

.container-submit {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.botao-enviar {
    width: 250px;
    background-image: linear-gradient(to right, var(--cor03), var(--cor04));
    border-radius: 30px;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.536);
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
}

.botao-enviar:hover {
    color: rgb(199, 199, 199);
}
.titulo-perguntas-frequentes {
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 2.4em;
    text-shadow: 3px 3px 14px rgba(0, 0, 0, 0.713);
}

.perguntas-frequentes {
    display: flex;
    flex-direction: row;

    margin-top: 30px;
    padding-bottom: 30px;

    color: white;
}

.container-perguntas-esquerda {
    width: 50%;
    padding-left: 60px;
    padding-right: 70px;

    text-align: justify;
}

.container-perguntas-direita {
    width: 50%;
    padding-left: 20px;
    padding-right: 130px;

    text-align: justify;
}

.pergunta {
    margin-bottom: 30px;
}

.pergunta > h2 {
    font-size: 1.8em;
    text-align: left;
    margin-bottom: 4px;
    color: #a4baff;
}

.pergunta > p {
    font-size: 1em;
    text-indent: 10px;
}

@media screen and (max-width: 1000px) { /* MQ Tela pequena */
    /* parte contato */
    textarea {
        width: 80vw;
    }

    input {
        width: 33vw;
    }

    /* parte perguntas frequentes */
    .container-inputs {
        column-gap: 10vw;
    }

    .perguntas-frequentes {
        flex-direction: column;
        align-items: center;
    }

    .container-perguntas-direita {
        padding: 0px;
        width: 80vw;
    }

    .container-perguntas-esquerda {
        padding: 0px;
        width: 80vw;
    }
}