@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&family=VT323&family=Victor+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

:root {
    --cor01: #4E3E90;
    --cor02: #C1C3DF;
    --cor03: #4A77F3;
    --cor04: #46FFFF;
    --cor05: #06032b;
    --fonte01: 'Bungee', cursive;
    --fonte02: 'Tektur', cursive;
    --fonte03: 'VT323', monospace;
    --fonte04: 'Victor Mono', monospace;
    --fonte05: 'Source Code Pro', monospace;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--cor05);
}

/*Começo da cofiguração do header*/

/*Fim das configurações do header*/


/*Início das configurações do main*/

main { /*Parte principal do site*/
    background-color: rgb(247, 247, 247);    
    width: 100vw;
}

.parte-esquerda-slogan { /*Configuração da parte onde o slogan aparece */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98vw;
    height: 600px;
}   

.parte-esquerda-slogan > h1, h2 { /*Configuração dos titulos do slogan */
    font-family: var(--fonte04);
    color: var(--cor05);
    text-align: center;
    font-size: 2em;
}

.parte-esquerda-slogan > p { /*Configuração do parágrafo do slogan */
    font-family: var(--fonte02);
    color: var(--cor01);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.parte-direita-slogan { /*Configuração da imagem ao lado do slogan */
    display: none;
}

.parte-cima-main {
    display: flex;
}


.cursos-quadrados { /*Parte geral da seção*/
    display: flex;
    flex-direction: column;
    background-color: var(--cor05);
    width: 100vw;
}

.quadrados { /*Configura cada quadrado*/
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    height: 350px;
    width: 60%;
    background-color: white;
    border-radius: 150px;
    border: 2px solid transparent;
    background: linear-gradient(var(--cor02), var(--cor02)) padding-box, linear-gradient(45deg, var(--cor04), darkblue) border-box;
}

.quadrados > img { /* Logo de cada linguagem*/
    align-self: center;
    width: 60px;
}   

.quadrados > p { /*Texto sobre cada linguagem*/
    padding-top: 10px;
    padding: 5px;
    text-align: center;
    font-size: clamp(0.7em, 2vw, 1.8em);
    font-family: var(--fonte05);
    margin-right: 20px;
    margin-left: 27px;
}

.quadrados > a { /*Link de vamos começar*/
    align-self: center;
    color: var(--cor01);
    text-decoration: none;
    font-size: clamp(0.7em, 3vw, 1.5em);
    font-family: var(--fonte05);
}

.quadrados > a:hover {
    text-decoration: underline;
}

.q-esquerda { /*deixa a div na esquerda*/
    align-self: flex-start;
}

.q-direita { /*deixa a div na direita*/
    align-self: flex-end;
}

.obanai { /* Obanai de cria*/
    height: 180px;
}

.parte-linguagem-direita, .parte-linguagem-esquerda { /*Deixa o personagem e as informações na mesma linha*/
    display: flex;
}

.parte-linguagem-direita { /*Inverte o persoagem e a informação para intercalar*/
    flex-direction: row-reverse;
}

.p-esquerdo, .p-direito { /*alinha o personagem à div*/
    align-self: center;
}

/* Funções do site*/

.funcionalidades {
    background: white url(../imagens/placa-mae.jpg) center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.funcao {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 18px;
    margin: 20px;
    width: 80vw;
    height: 80vh;
    border: 2px solid black;
    border-radius: 30px 0px;
}

.titulo-funcao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte-esquerda-funcao > .titulo-funcao >  .icone,  .parte-esquerda-funcao > .titulo-funcao > h3 {
    margin: 5px;
}

.funcao > .parte-esquerda-funcao > .titulo-funcao > h3 {
    font-family: var(--fonte02);
    font-size: 2em;
    text-align: center;
}

.funcao > .parte-esquerda-funcao > .titulo-funcao > .icone {
    font-size: 3em;
}

.funcao > .parte-esquerda-funcao > p {
    text-indent: 30px;
    text-align: justify;
    font-size: 1.5em;
}

.parte-direita-funcao-conexao {
    height: 35vh;
    background-image: url(../imagens/conexoes.jpg);
    background-size: cover;
    background-position: center center;
}

.parte-direita-funcao-rank {
    height: 40vh;
    background-image: url(../imagens/rank.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}