@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&family=VT323&family=Victor+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

:root {
    --cor01: #4E3E90;
    --cor02: #C1C3DF;
    --cor03: #4A77F3;
    --cor04: #46FFFF;
    --cor05: #06032b;
    --fonte01: 'Bungee', cursive;
    --fonte02: 'Tektur', cursive;
    --fonte03: 'VT323', monospace;
    --fonte04: 'Victor Mono', monospace;
    --fonte05: 'Source Code Pro', monospace;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor05);
}

/*Começo da cofiguração do header*/


.header > .parte-cima-header { /*Auto explicativo*/
    z-index: 1;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--cor05);
    width: 100%;
    height: 140px;
    margin: 0;
    border-bottom: 2px solid white;
}

.header > .parte-baixo-header {
    margin-top: 140px;
    display: block;
}


.nome-logo { /*Configuração para o nome e a logo*/
    width: 20%;
    display: flex;
    align-items: center;

}

.nome-logo > h1 > a { /*Codenect escrito do lado da logo*/
    font-family: var(--fonte01);
    font-size: 1.8em;
    color: var(--cor03);
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
}

.logo { /*Configura a imagem da logo no header*/
    height: 100px;
    margin: 20px;
}

/*Template para a barra de pesquisa*/

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    align-self: center;
}

.parte-direita-header {
    display: flex;
}

.input-search {
    height: 30px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--cor01);
    padding-right: 40px;
    color:#fff;
}

.input-search::placeholder {
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 30px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
}

.btn-search:focus ~ .input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
/*fim do template*/

.botao-comece {
    border: 3px solid var(--cor05);
    cursor: pointer;
    height: 60px;
    width: 100px;
    margin: 20px;
    background-color: var(--cor01);
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
    border-radius: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

.menu { /*Para o menu principal*/
    background-color: var(--cor05);
    width: 97.3vw;
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding: 10px;
}

li { /* Para listas no geral*/
    list-style: none;
    font-size: 1.3em;
}

.menu > li > a { /* Para as coisas no menu nav*/
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-family: var(--fonte01);
    text-shadow: 1px 1px 1px black; 
}

.menu > li > a:hover { /*Da uma leve mudada na cor com o hover*/
    color: white;
}

.menu > li > p:hover { /*Da uma leve mudada na cor com o hover*/
    color: white;
}

.menu > li > p { /*Especificamente para o <p> Cursos */
    cursor: default;
    color: rgb(218, 218, 218);
    font-family: var(--fonte01);
    text-shadow: 1px 1px 1px black;
    display: block;
    width: 130px;
    text-align: center;
}

.cursos-nav:hover > .submenu { /*Aparecer o submenu quando passar por cima de cursos*/
    display: block;
    background-color: var(--cor05);
}

@keyframes animacao1 { /*Para criar a animacao1 usada abaixo*/
    from {opacity: 0;}
    to {opacity: 1;}
}

.submenu {
    position: absolute;
    z-index: 1;
    animation: animacao1 0.3s ease-in; /*Animação do submenu*/
    display: none;
    background-color: var(--cor05);
    width: 130px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.submenu > li > a { /*Configurando os cursos no submenu*/
    display: block;
    color: white;
    font-family: var(--fonte01);
    text-shadow: 1px 1px 1px black;
    font-size: 0.9em;
    text-decoration: none;
    height: 60px;
    text-align: center;
}

.submenu > li > a:hover { /*Quando passar o mouse por cima de cada curso*/
    text-decoration: underline;
} 

/*Fim das configurações do header*/


/*Início das configurações do main*/

main { /*Parte principal do site*/
    background-color: rgb(247, 247, 247);
    height: 1000px;
    
}

.parte-esquerda-slogan { /*Configuração da parte onde o slogan aparece */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 600px;
    border-bottom: 8px solid var(--cor05);
}   

.parte-esquerda-slogan > h1, h2 { /*Configuração dos titulos do slogan */
    font-family: var(--fonte04);
    color: var(--cor05);
    text-align: center;
    font-size: 2em;
}

.parte-esquerda-slogan > p { /*Configuração do parágrafo do slogan */
    font-family: var(--fonte02);
    color: var(--cor01);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.parte-direita-slogan { /*Configuração da imagem ao lado do slogan */
    display: flex;
    height: 600px;
    width: 50vw;
    background-image: url(../imagens/social-media-g92be9e10f_1280.png);
    background-size: cover;
    border-bottom: 8px solid var(--cor05);
}

.parte-cima-main {
    display: flex;
}

.cursos-quadrados { /*Parte geral da seção*/
    display: flex;
    flex-direction: column;
    background-color: var(--cor05);
    width: 98.75vw;
}

.quadrados { /*Configura cada quadrado*/
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    height: 350px;
    width: 60%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.quadrados > img { /* Logo de cada linguagem*/
    align-self: center;
    width: 90px;
}

.quadrados > p { /*Texto sobre cada linguagem*/
    padding-top: 10px;
    padding: 5px;
    text-align: justify;
    font-size: 1.2em;
    font-family: var(--fonte05);
    margin-right: 20px;
    margin-left: 27px;
}

.quadrados > a { /*Link de vamos começar*/
    padding-top: 10px;
    align-self: center;
    color: var(--cor01);
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--fonte05);
}

.quadrados > a:hover {
    text-decoration: underline;
}

.q-esquerda { /*deixa a div na esquerda*/
    align-self: flex-start;
}

.q-direita { /*deixa a div na direita*/
    align-self: flex-end;
}

.obanai { /* Obanai de cria*/
    height: 300px;
}

.parte-linguagem-direita, .parte-linguagem-esquerda { /*Deixa o personagem e as informações na mesma linha*/
    display: flex;
}

.parte-linguagem-direita { /*Inverte o persoagem e a informação para intercalar*/
    flex-direction: row-reverse;
}

.p-esquerdo, .p-direito { /*alinha o personagem à div*/
    align-self: center;
}
