@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&family=VT323&family=Victor+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

:root {
    --cor01: #4E3E90;
    --cor02: #C1C3DF;
    --cor03: #4A77F3;
    --cor04: #46FFFF;
    --cor05: #06032b;
    --fonte01: 'Bungee', cursive;
    --fonte02: 'Tektur', cursive;
    --fonte03: 'VT323', monospace;
    --fonte04: 'Victor Mono', monospace;
    --fonte05: 'Source Code Pro', monospace;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--cor05);
}

/*Começo da cofiguração do header*/

/*Fim das configurações do header*/


/*Início das configurações do main*/

main { /*Parte principal do site*/
    background-color: rgb(247, 247, 247);    
    width: 100vw;
}

.parte-esquerda-slogan { /*Configuração da parte onde o slogan aparece */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98vw;
    height: 600px;
}   

.parte-esquerda-slogan > h1, .parte-esquerda-slogan > h2 { /*Configuração dos titulos do slogan */
    font-family: var(--fonte04);
    color: var(--cor05);
    text-align: center;
    font-size: 2em;
}

.parte-esquerda-slogan > p { /*Configuração do parágrafo do slogan */
    font-family: var(--fonte02);
    color: var(--cor01);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.parte-direita-slogan { /*Configuração da imagem ao lado do slogan */
    display: none;
}

.parte-cima-main {
    display: flex;
}


.cursos-quadrados { /*Parte geral da seção*/
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--cor05), #3865CB);
    width: 100vw;
    align-items: flex-end;
    justify-content: center;
}

.cursos-quadrados > h1 {
    color: white;
    font-family: var(--fonte01);
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.quadrados { /*Configura cada quadrado*/
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    width: 80%;
    background-color: white;
    border-radius: 100px;
    border: 2px solid transparent;
    background: linear-gradient(var(--cor01), var(--cor01)) padding-box, linear-gradient(45deg, var(--cor04), darkblue) border-box;
}


.linguas {
    color: var(--cor03);
    text-shadow: 0px 0px 2px #06032b;
    font-family: var(--fonte01);
    font-size: 1em;
}

.quadrados > .btn-linguagem {
    width: 60%;
    height: 3em;
    cursor: pointer;
    align-self: center;
    font-family: var(--fonte01);
    background-color: #3865CB;
    font-size: 1em;
    border-radius: 100px;
    color: var(--cor05);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.664);
    border: none;
}

.quadrados > .btn-linguagem:hover {
    animation: hover-linguagem 0.6s forwards;
}

@keyframes hover-linguagem {
    100% {
        background-color: #02001a;
        color: white;
    }
}

.quadrados > .img-logo-linguagem { /* Logo de cada linguagem*/
    align-self: center;
    width: 60px;
}   

.quadrados > p { /*Texto sobre cada linguagem*/
    color: white;
    line-height: 1.75em;
    padding-top: 10px;
    padding: 5px;
    text-align: justify;
    font-size: 1em;
    font-family: var(--fonte05);
    margin: 10px;
}

.p-esquerdo, .p-direito { /*alinha o personagem à div*/
    display: none;
}

.parte-linguagem-esquerda, .parte-linguagem-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-celular {
    height: 180px;
    width: 180px;
    align-self: center;
    margin-bottom: 20px;
}

/* Funções do site*/

.funcionalidades {
    background: white url(../imagens/fundo-placa-mãe.jpg) center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.funcao {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 18px;
    margin: 20px;
    width: 80vw;
    border: 2px solid black;
    border-radius: 30px 0px;
}

.titulo-funcao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte-esquerda-funcao > .titulo-funcao >  .icone,  .parte-esquerda-funcao > .titulo-funcao > h3 {
    margin: 5px;
}

.funcao > .parte-esquerda-funcao > .titulo-funcao > h3 {
    font-family: var(--fonte02);
    font-size: 2em;
    text-align: center;
}

.funcao > .parte-esquerda-funcao > .titulo-funcao > .icone {
    font-size: 3em;
}

.funcao > .parte-esquerda-funcao > ul {
    list-style-position: inside;
}

.funcao > .parte-esquerda-funcao > ul > li {
    text-indent: 20px;
    text-align: justify;
    font-size: 1.5em;
}

.parte-direita-funcao-conexao {
    height: 35vh;
    background-image: url(../imagens/conexoes.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.parte-direita-funcao-rank {
    height: 40vh;
    background-image: url(../imagens/rank.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}