@charset "UTF-8";
@import url(estilo-base.css);

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

/*Começo da cofiguração do header*/

/*Fim das configurações do header*/


/*Início das configurações do main*/

main { /*Parte principal do site*/
    background-color: rgb(247, 247, 247);    
    width: 100vw;
}

.parte-esquerda-slogan { /*Configuração da parte onde o slogan aparece */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98vw;
    height: 600px;
}   

.parte-esquerda-slogan > h1, .parte-esquerda-slogan > h2 { /*Configuração dos titulos do slogan */
    font-family: var(--fonte04);
    color: var(--cor05);
    text-align: center;
    font-size: 2em;
}

.parte-esquerda-slogan > p { /*Configuração do parágrafo do slogan */
    font-family: var(--fonte02);
    color: var(--cor01);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.parte-esquerda-slogan > button {
    cursor: pointer;
    align-self: center;
    font-family: var(--fonte01);
    background-color: #3865CB;
    background-image: linear-gradient(45deg, var(--cor03), var(--cor04));
    font-size: 1em;
    border: none;
    border-radius: 100px;
    color: var(--cor05);
    box-shadow: 6px 5px 14px rgba(0, 0, 0, 0.673);
    margin-top: 20px;
}

.parte-direita-slogan > button > a {
    margin: 10px;
}

.parte-esquerda-slogan a {
    display: block;
    text-decoration: none;
    font-family: var(--fonte01);
    color: var(--cor05);
    border-radius: 100px;
    padding: 2px 5px;
}

.parte-esquerda-slogan a:hover {
    animation: hover-linguagem 0.6s forwards;
}

.parte-direita-slogan { /*Configuração da imagem ao lado do slogan */
    display: none;
}

.parte-cima-main {
    display: flex;
}


.cursos-quadrados { /*Parte geral da seção*/
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--cor05), #3865CB);
    width: 100vw;
    align-items: flex-end;
    justify-content: center;
}

.cursos-quadrados > h1 {
    color: white;
    font-family: var(--fonte01);
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.quadrados { /*Configura cada quadrado*/
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    width: 80%;
    background-color: white;
    border-radius: 100px;
    border: 2px solid transparent;
    background: linear-gradient(var(--cor01), var(--cor01)) padding-box, linear-gradient(45deg, var(--cor04), darkblue) border-box;
}


.linguas {
    color: var(--cor03);
    text-shadow: 0px 0px 2px #06032b;
    font-family: var(--fonte01);
    font-size: 1em;
}

.quadrados > .btn-linguagem {
    width: 60%;
    height: 3em;
    cursor: pointer;
    align-self: center;
    font-family: var(--fonte01);
    background-color: #3865CB;
    background-image: linear-gradient(45deg, var(--cor03), var(--cor04));
    font-size: 1em;
    border-radius: 100px;
    color: var(--cor05);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.664);
    border: none;
}

.quadrados > .btn-linguagem:hover {
    animation: hover-linguagem 0.6s forwards;
}

@keyframes hover-linguagem {
    100% {
        background-color: #02001a;
        background-image: none;
        color: white;
    }
}

.quadrados > .img-logo-linguagem { /* Logo de cada linguagem*/
    align-self: center;
    width: 60px;
}   

.quadrados > p { /*Texto sobre cada linguagem*/
    color: white;
    line-height: 1.75em;
    padding-top: 10px;
    padding: 5px;
    text-align: justify;
    font-size: 1em;
    font-family: var(--fonte05);
    margin: 10px;
}

.p-esquerdo, .p-direito { /*alinha o personagem à div*/
    display: none;
}

.parte-linguagem-esquerda, .parte-linguagem-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-celular {
    height: 180px;
    width: 180px;
    align-self: center;
    margin-bottom: 20px;
}

/* Funções do site*/

.funcionalidades {
    background: white url(../imagens/fundo-placa-mãe.jpg) center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.funcao {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 18px;
    margin: 20px;
    width: 80vw;
    border: 2px solid black;
    border-radius: 30px 0px;
}

.titulo-funcao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte-esquerda-funcao > .titulo-funcao >  .icone,  .parte-esquerda-funcao > .titulo-funcao > h3 {
    margin: 5px;
}

.funcao > .parte-esquerda-funcao > .titulo-funcao > h3 {
    font-family: var(--fonte02);
    font-size: 2em;
    text-align: center;
}

.funcao > .parte-esquerda-funcao > .titulo-funcao > .icone {
    font-size: 3em;
}

.funcao > .parte-esquerda-funcao > ul {
    list-style-position: inside;
}

.funcao > .parte-esquerda-funcao > ul > li {
    text-indent: 20px;
    text-align: justify;
    font-size: 1.5em;
}

.parte-direita-funcao-conexao {
    height: 35vh;
    background-image: url(../imagens/conexoes.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.parte-direita-funcao-rank {
    height: 40vh;
    background-image: url(../imagens/rank.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* CSS para dispositivos móveis */
@media screen and (max-width: 768px) {
    .parte-baixo-sobre-nos {
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
        margin: 10px;
    }

    /* O terceiro card ocupa toda a largura disponível e é centralizado */
    .card:nth-child(3) {
        width: 90%;
        align-self: center;
        margin: 10px 0;
    }
}

/* Início Seção Sobre Nós */
.sobre-nos { /* class principal da seção */
    background-image: linear-gradient(to top, var(--cor05), #3865CB);
}

.sobre-nos > h1 { /* título da seção */
    text-align: center;
    color: white;
    font-family: var(--fonte01);
    font-size: 2em;
}

.parte-sobre-nos { /* container */
    width: 100vw;
}

.parte-cima-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-sobre-nos {
    background-color: transparent;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-sobre-nos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.foto-sobre-nos > img {
    width: 75%;
    height: 75%;
    border-radius: 20px;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.585);
    background-size: cover;
    border: 2px solid black;
}

.texto-sobre-nos p {
    font-family: var(--fonte05);
    color: white;
    text-align: justify;
    font-size: 1.2em;
    margin: 15px;
}

.parte-baixo-sobre-nos {
    justify-content: space-evenly;
    column-gap: 50px;
}

.container-cards {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--cor04);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.473);
}

.card > img {
    width: 100%;
    border-start-end-radius: 7px;
    border-start-start-radius: 7px;
    align-self: center;
}

.card > hr {
    width: 100%;
    border: 1px solid black;
    margin: 0px;
}

.card-corpo {
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4E3E90;
    color: white;
    border-end-start-radius: 7px;
    border-end-end-radius: 7px;
}

.card-corpo > h4 {
    font-size: 1em;
    margin: 5px;
    font-family: var(--fonte04);
    text-align: center;
}

.card-corpo > ul {
    list-style-type: none;
}

.card-corpo > ul > li {
    margin: 5px;
    font-family: var(--fonte02);
    font-size: 0.8em;
}

.parte-baixo-sobre-nos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 50px;
}

.container-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-wrapper {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

@media screen and (max-width: 1250px) {
    .card-wrapper {
        width: 40%; /* Reduzir a largura para que dois cards se encaixem em uma única linha */
    }
    .container-cards {
        justify-content: center; /* Centralizar os cards quando estiverem em uma única linha */
    }
}

/* Fim Seção Sobre Nós */