@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&family=VT323&family=Victor+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

:root {
    --cor01: #4E3E90;
    --cor02: #C1C3DF;
    --cor03: #4A77F3;
    --cor04: #46FFFF;
    --cor05: #06032b;
    --fonte01: 'Bungee', cursive;
    --fonte02: 'Tektur', cursive;
    --fonte03: 'VT323', monospace;
    --fonte04: 'Victor Mono', monospace;
    --fonte05: 'Source Code Pro', monospace;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 98vw;
    background-color: var(--cor05);
    overflow-x: hidden;
}

/*Começo da cofiguração do header*/

/*Fim das configurações do header*/


/*Início das configurações do main*/

main { /*Parte principal do site*/
    background-color: rgb(247, 247, 247);    
}

.parte-esquerda-slogan { /*Configuração da parte onde o slogan aparece */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 600px;
    border-bottom: 8px solid var(--cor05);
}   

.parte-esquerda-slogan > h1, h2 { /*Configuração dos titulos do slogan */
    font-family: var(--fonte04);
    color: var(--cor05);
    text-align: center;
    font-size: 2em;
}

.parte-esquerda-slogan > p { /*Configuração do parágrafo do slogan */
    font-family: var(--fonte02);
    color: var(--cor01);
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.parte-direita-slogan { /*Configuração da imagem ao lado do slogan */
    display: flex;
    height: 600px;
    width: 50%;
    background-image: url(../imagens/social-media-g92be9e10f_1280.png);
    background-size: cover;
    border-bottom: 8px solid var(--cor05);
}

.parte-cima-main {
    display: flex;
    background-color: rgb(247, 247, 247);
    width: 98.90vw;
}

.cursos-quadrados { /*Parte geral da seção*/
    display: flex;
    flex-direction: column;
    background-color: var(--cor05);
    width: 98.75vw;
}

.quadrados { /*Configura cada quadrado*/
    position: relative;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    height: 420px;
    width: 60%;
    background-color: var(--cor02);
    border-radius: 150px;
    box-shadow: 2px 2px 2px var(--cor01);
}

.quadrados > img { /* Logo de cada linguagem*/
    align-self: center;
    width: 90px;
}

.quadrados > p { /*Texto sobre cada linguagem*/
    padding-top: 10px;
    padding: 5px;
    text-align: justify;
    text-indent: 50px;
    font-size: clamp(1.2em, 1.8vw, 1.7em);
    font-family: var(--fonte05);
    margin-right: 20px;
    margin-left: 27px;
    color: var(--cor0);
}

.linguas {
    color: var(--cor03);
    font-style: italic;
    font-weight: 800;
    font-size: 1.4em;
}

.quadrados > a { /*Link de vamos começar*/
    align-self: center;
    color: var(--cor03);
    text-decoration: none;
    font-size: clamp(1.5em, 2vw, 2em);
    font-family: var(--fonte01);
}

.quadrados > a:hover {
    text-decoration: underline;
}

.q-esquerda { /*deixa a div na esquerda*/
    align-self: flex-start;
}

.q-direita { /*deixa a div na direita*/
    align-self: flex-end;
}

.obanai { /* Obanai de cria*/
    height: 300px;
}

.parte-linguagem-direita, .parte-linguagem-esquerda { /*Deixa o personagem e as informações na mesma linha*/
    display: flex;
}

.parte-linguagem-direita { /*Inverte o persoagem e a informação para intercalar*/
    flex-direction: row-reverse;
}

.p-esquerdo, .p-direito { /*alinha o personagem à div*/
    align-self: center;
}
