@charset "UTF-8";
@import url(estilo-base.css);

/*Começo da cofiguração do header*/

/*Fim das configurações do header*/

main {
    height: 800px;
    z-index: 0;
    width: 100vw;
    background-image: url(../imagens/design-g5cdc793df_1280.png);
    background-position: center ;
    background-size: cover;
}

.mensagem {
    padding-top: 10px;
    z-index: 0;
    text-align: center;
    color: white;
    font-family: var(--fonte01);
    width: 80%;
    font-size: 1.2em;
    margin: auto;
    pointer-events: none;
}