@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&family=VT323&family=Victor+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

:root {
    --cor01: #4E3E90;
    --cor02: #C1C3DF;
    --cor03: #4A77F3;
    --cor04: #46FFFF;
    --cor05: #06032b;
    --fonte01: 'Bungee', cursive;
    --fonte02: 'Tektur', cursive;
    --fonte03: 'VT323', monospace;
    --fonte04: 'Victor Mono', monospace;
    --fonte05: 'Source Code Pro', monospace;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--cor05);
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
}

.parte-cima-footer > h1 > strong {
    color: white;
    font-size: 1.5em;
}

.inf > li > h3 > strong {
    font-size: 1.2em;
}

.parte-cima-footer {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.parte-cima-footer > h1 > strong {
    font-family: var(--fonte02);
}

.parte-cima-footer > h3 {
    color: white;
    font-size: 1.8em;
    font-family: var(--fonte05);
}

.parte-baixo-footer {
    display: flex;
    justify-content: space-around;
}

.inf {
    display: block;
}

.inf > li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inf > li > h3 {
    color: white;
}

.inf > li > h4 {
    color: white;
    font-size: 1em;
}

.inf > li > h4 > a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-family: var(--fonte05);
}

.inf > li > h4 > a:hover {
    text-decoration: underline;
}

.email-contato {
    font-size: 0.8em;
    font-family: var(--fonte05);
}

.redes {
    display: flex;
    justify-content: start;
}

.icones-redes {
    color: white;
    font-size: 2em;
    margin: 10px;
}

@keyframes animacao4 {
    from {
        color: white;
    }

    to {
        color: var(--cor04);
        text-shadow: 0px 0px 5px var(--cor04);
    }
}

.icones-redes:hover {
    animation: animacao4 0.5s forwards;
}

.parte-final-footer {
    margin-top: 60px;
    color: white;
    align-self: center;
    margin-bottom: 30px;
}